Package: plexmediaserver-installer
Version: 1.12.0.4829-6de959918-1
Depends: libc6 (>= 2.19), curl
Replaces: plexmediaserver (<< 0.9.16.4.1911-ee6e505), plexmediaserver-installer-neonless (<< 1.0.0.2261-a17e99e) 
Breaks: plexmediaserver (<< 0.9.16.4.1911-ee6e505), plexmediaserver-installer-neonless (<< 1.0.0.2261-a17e99e)
Architecture: armhf
Multi-Arch: foreign
Maintainer: Jan Friedrich (uglymagoo) <jft@dev2day.de>
Section: video
Priority: extra
Homepage: http://www.plex.tv
Description: Plex Media Server for Linux
  Stream media everywhere(tm)
